<div class="container text-center">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= @build.name %>
      </h1>
    </div>
    <div class="panel-body">
      <img class="bld-img" src="<%= @build.img_url%>">
      <p><%= @build.details %></p>
    </div>
  </div>
<div class="">
  <div class="">
    <h2 class="">Exhibits</h2>
    <% if current_user %>
    <p><%= link_to 'New Exhib', new_build_link_path(@build) %></p>
    <%end%>
  </div>
<% if @build.links.last %>
  <% @build.links.each do |link| %>
    <div class="panel exhib col-sm-12 text-center">
      <div class="panel-heading">
        <%= link_to  link.title, link.link_url, class: "panel-title" %>
      </div>
      <%if link.link_url.include? 'watch?v=' %>
      <iframe src="https://www.youtube.com/embed/<%= link.link_url.split('watch?v=')[1]%>" allowfullscreen></iframe>
      <%elsif link.link_url.include? '.be/'%>
      <iframe src="https://www.youtube.com/embed/<%= link.link_url.split('.be/')[1]%>" allowfullscreen></iframe>
      <%end%>
    <% if current_user %>
    <%= button_to 'Remove', build_link_path(@build, link), method: :delete, data: { confirm: 'You sure mate?' }, class: "btn btn-danger pull-left" %>
      <a href="<%= edit_build_link_path(@build, link)%>">
        <button type="button" class="btn btn-sm btn-warning pull-right glyphicon glyphicon-pencil"> Edit</button>
      </a>
    <%end%>
    <br>
  </div>
  <%end%>
<%end%>
</div>
<a href="/skills/<%= @skill.id %>">
  <button type="button" class="btn btn-info btn-md glyphicon glyphicon-hand-left"> Back</button>
</a>
<br>
  <div class="">
    <h2 class="">Comments</h2>
    <a href="<%= new_build_comment_path(@build) %>">
      <button type="button" class="btn btn-success glyphicon glyphicon-plus-sign"></button>
    </a>

  </div>
  <div class="">
    <% if @build.comments.last %>
      <% @build.comments.each do |comment|%>
        <p class=""><%= comment.body %></p>
      <%end%>
    <%end%>
  </div>


</div>
