<div class="container-fluid text-center">
  <div>
    <% if current_user %>
      <!-- <h1>My Skillz</h1> <%= link_to "Add Skillz" , new_skill_path%> -->
      <h1>My Skillz</h1>
      <a href="<%=new_skill_path%>">
        <button type="button" class="btn btn-sm btn-success glyphicon glyphicon-plus"></button>
      </a>
      <% current_user.skills.each do |skill| %>
        <h1><%= link_to skill.game, skill, :style=>'color: #fff; text-decoration: none;' %>
      <%end%>
      <h1>All Skills</h1>
      <% @skills.each do |skill| %>
          <h1><%= link_to skill.game, skill, :style=>'color: #fff; text-decoration: none;' %></h1>
          <% if skill.user.email %>
            <p>Added by: <%= skill.user.email.split('@')[0] %></p>
          <%else%>
            <p>Added by: Admin</p>
          <%end%>
      <% end %>
    <%end%>
  <% if !current_user %>
    <div class="jumbotron">
      <h1>SkillsBook</h1>
      <p>
        The best place to show off your favorite videos of people with skills!
      </p>
    </div>
    <% @skills.each do |skill| %>
        <h1><%= link_to skill.game, skill, :style=>'color: #fff; text-decoration: none;' %></h1>
        <% if skill.user.email %>
          <p class="addedBy">Added by: <%= skill.user.email.split('@')[0] %></p>
        <%else%>
          <p>Added by: Admin</p>
        <%end%>
    <% end %>
    <%end%>
  </div>
</div>
