<!-- AM: That's a lot of <br>'s. Is there a way you can do this using CSS? -->
<br><br><br><br><br>
<h2>Edit Link</h2>

<%= form_for [@build, @link] do |f| %>
  <%= f.label :title %>
  <br>
  <%= f.text_field :title %>
  <br/>
  <%= f.label :link_url %>
  <br>
  <%= f.text_field :link_url %>
  <br/>
  <%= f.submit %>
<%end%>
