<!DOCTYPE html>
<html>
<head>
  <title>SkilzBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid col-md-12">
  <div class="video_class">
    <video src="http://r17---sn-nx57yne7.googlevideo.com/videoplayback?dur=9076.424&lmt=1420618314130361&key=yt6&ip=162.210.251.144&id=o-AAJTC-SnYMM3ssQe9_Xs00uromTJPngw4pGnoaspBuSp&itag=18&ipbits=0&mn=sn-nx57yne7&mm=31&sver=3&expire=1471481451&ms=au&mv=m&mt=1471459243&ratebypass=yes&pl=24&source=youtube&initcwndbps=6391250&nh=IgpwcjAyLnNlYTAzKg4yMTYuMjQzLjE1LjI0Mg&sparams=dur%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpl%2Cratebypass%2Csource%2Cupn%2Cexpire&upn=VcK1Z_HU1hc&mime=video%2Fmp4&fexp=9422596%2C9428398%2C9431012%2C9433096%2C9433221%2C9433946%2C9435526%2C9438327%2C9438662%2C9439580%2C9442424%2C9442426%2C9442922&signature=86B6F8F9F2DA89A9B43F82EBA02F23370350001E.83C1B439DBB7577A179B6706F746E1CEEBF4DCA1&title=T5.0+-+The+3rd+Arcadia+Cup+%28Super+Battle+Opera+2005%29" autoplay ></video>
  </div>
  <div class="">
    <div class="">
       <% if current_user %>
         Welcome, <%= current_user.email %>
         <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
       <% else %>
         <%= link_to 'Signup', new_user_registration_path, class: "pad" %>
         <%= link_to 'Login', new_user_session_path%>
       <% end %>
       <p class="pull-right"><%= link_to "All Skillz", skills_path %></p>
     </div>

   </div>

<div class="container">
<%= yield %>
</div>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</body>
</html>
